.u-section-1 {
    background-image: url("https://cdn.jsdelivr.net/gh/MarcosV6527/fisica@master/Background.jpg");
    background-position: 50% 50%;
    min-height: 756px;
}

.u-section-1 .u-list-1 {
  grid-template-rows: auto;
  margin-top: 44px;
  margin-bottom: 0;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  grid-gap: 10px 10px;
  min-height: 645px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 21px;
}

    .u-section-1 .u-image-1 {
        width: 313px;
        height: 313px;
        background-image: url("https://cdn.jsdelivr.net/gh/MarcosV6527/master@master/Diego.png");
        background-position: 50% 50%;
        margin: 0 auto;
    }

.u-section-1 .u-text-1 {
  width: 222px;
  margin: 18px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 18px 9px 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 21px;
}

    .u-section-1 .u-image-2 {
        width: 313px;
        height: 313px;
        background-image: url("https://cdn.jsdelivr.net/gh/MarcosV6527/master@master/Sergio.png");
        background-position: 50% 50%;
        margin: 0 auto;
    }

.u-section-1 .u-text-3 {
  width: 222px;
  margin: 18px auto 0;
}

.u-section-1 .u-text-4 {
  margin: 18px 9px 0;
}

.u-section-1 .u-image-3 {
  width: 100px;
  height: 100px;
  margin: -41px calc(((100% - 1140px) / 2)) 9px auto;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 623px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 377px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-3 {
    margin-right: calc(((100% - 940px) / 2));
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 477px;
  }

  .u-section-1 .u-image-3 {
    margin-right: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 358px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-3 {
    margin-right: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 225px;
  }

  .u-section-1 .u-image-3 {
    margin-right: calc(((100% - 340px) / 2));
  }
}